@charset "utf-8";

html {
    font-size: 62.5%;
}
body {
    width: 100%;
    font-size: 1.4rem;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
}    
a {
    color: #333;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.header {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding-top: 100px;
}
.header-top {
    position: relative;
    height: 38.48px;

}
.logo {
    position: absolute;
    width: 100%;
    padding-left: 150px;
}
.logo .logo_image {
    width: 275px;
}
.SNS {
    height: 100%;
    line-height: 38.48px;
}
.sns-image {
    width: 22px;
    display: inline-block;
    vertical-align: middle;
}
.sns-right {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 175px;
}
.sns-left {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 210px;
}

/* ナビゲーション */
.gloval-nav {
   text-align: right;
   margin: 75px 160px;
}
.nav-item {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    margin-left:  60px;
    letter-spacing: 1px;
}
